{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p class="archive__item-talk-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </p>
    {% if post.venue %}
    <p class="page__meta">
      {{ post.venue }}{% if post.location %} &mdash; {{ post.location }}{% endif %}{% if post.date %} &mdash; {{ post.date | date: '%B %Y' }}{% endif %}
    </p>
    {% endif %}
  </article>
</div>
