{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p class="archive__item-talk-title" itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ title }}</a>
      {% elsif post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </p>

    {% if post.collection == 'teaching' %}
      <p class="page__meta">{{ post.type }}{% if post.venue %}, <i>{{ post.venue }}</i>{% endif %}{% if post.date %}, {{ post.date | default: "1900-01-01" | date: "%Y" }}{% endif %}</p>
    {% elsif post.collection == 'publications' %}
      <p class="page__meta"><i>{{ post.venue }}</i>{% if post.date %}, {{ post.date | default: "1900-01-01" | date: "%Y" }}{% endif %}</p>
    {% endif %}

    {% if post.citation %}
      <p class="archive__item-citation">{{ post.citation }}</p>
    {% endif %}

    {% if post.slidesurl or post.bibtexurl %}
      <p class="archive__item-links">
        {% if post.slidesurl %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
        {% if post.slidesurl and post.bibtexurl %} &middot; {% endif %}
        {% if post.bibtexurl %}<a href="{{ post.bibtexurl }}">BibTeX</a>{% endif %}
      </p>
    {% endif %}

  </article>
</div>
